@font-face {
  font-family: Cascadia Tablature;
  src: url("CascadiaTablature.ttf") format('truetype');
}

body {
  border: 0pt;
  margin: 0pt;
  padding: 0pt;
  overflow: hidden;
}

.main {
  font-family: Cascadia Tablature;
  height: 100vh;
  border: 0pt;
  margin: 0pt;
  padding: 0pt;
  background-color:beige;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 500px auto;
}

.header {
  margin: 0pt;
  border: 0pt;
  background-color:antiquewhite;
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
}

.header h1 {
  margin: auto auto;
  display:block;
}

.controls {
  display: flex;
  margin: 0pt;
  border: 0pt;
  background-color:bisque;
  grid-column-start: 2;
  grid-row-start: 1;
}

.controls button {
  padding: 15px 32px;
  margin: auto auto;
  border: 0pt;
  background-color: skyblue;
  font-family: Cascadia Tablature;
}

.tablatureText {
  background-color: blanchedalmond;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.tablatureViewer {
  margin: 0pt;
  border: 0pt;
  padding: 10pt;
  font-family: Cascadia Tablature;
  font-size: 10pt;
}

.tablatureEditor {
  height: 100%;
  margin: 0pt;
  border: 0pt;
  padding: 3pt;
  width: 100%;
  outline: none;
  resize: none;
  font-family: Cascadia Tablature;
  font-size: 10pt;
}
